<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/files/css/book.css">
</head>
<body>
	{{ template "nav" . }}
{{ with .logic }}
<title>LSYS - {{ .book.Name }}</title>
<article>
	<aside> <img
		src="/files/img/books/{{.book.ISBN}}"
		onerror="this.src='/files/img/missing'"
	></img> </aside>

	<section>
		<h1 id="book-name"><i>{{ .book.Name }}</i></h1>
		<h5 id="ISBN">{{.book.ISBN}}</h5>
		<h2>Published in: {{ .book.Published }}</h2>
	</section>

	<section>
	{{ if .avail }}
		<form> <button>Reserve</button> </form>
	{{ else }}
		{{ if eq .borrower_status "reserved" }}
			<h2>Status: Reserved</h2>
			<p>Still possible to read this book inside the library</p>
			<p>Book will be taken in {{.borrower_time_left}} days</p>
			{{ if .borrower_status_past }}
				<p>Book should have been returned {{.borrower_time_lim}} days ago</p>
			{{ else }}
				<p>Book may be returned in {{.borrower_time_lim}} days</p>
			{{ end }}
		{{ else }}
			<h2>Status: Borrowed</h2>
		{{ end }}
	{{ end }}
	</section>
</article>
</body>
</html>
{{end}}

