article > aside {
	float: left;
	padding-right: 10px;
	img {
		max-height: 550px;
		min-height: 150px;
	}
}
#book-name {
	padding: 5px;
	margin: 0;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

#ISBN:before {
	content: "ISBN:"
}
